#add-book-form-container,
#update-book-form-container {
    position: relative;
    display: none;
    top: 0;
    margin: 0;
    padding: 0;
    font-family: 'inter';
    height: 500px;
    max-height: 700px;
}

.close-button-container {
    display: flex;
    color: gray;
    top: 0;
    right: 0;
    font-size: larger;
    flex-direction: row;
    justify-content: flex-end;
}

.close-button:hover {
    background-color: white;
}

.close-button {
    box-sizing: border-box;
    width: 1em;
    height: 1em;
    border-radius: 4em;
    border: 1px solid #c2c7cc;
    color: transparent;
    cursor: pointer;
    transition: all ease 0.3s;
}

.close-button:before,
.close-button:after {

    width: 1rem;
    height: 1rem;
    left: 50%;
    top: 50%;
    margin-left: -1em;
    content: '';
    background: #8a9199;
    transition: all ease 1s;
}

.close-button:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-button:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-button:hover,
.close-button:focus {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    /* border-color: #f26a3d; */
    border-color: red;
    background: rgba(242, 106, 61, 0.1);
}

.close-button:hover:before,
.close-button:focus:before,
.close-button:hover:after,
.close-button:focus:after {
    background: red;
    color: red;
}


.oaerror {
    width: 100%;
    padding: 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 10px auto;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin-top: 25px;
}

.danger {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    /* Left side border color */
    border-left-color: #f8140c;
    background-color: #111;

}

.danger strong {
    color: #ec150e;
    font-size: 1rem;
    letter-spacing: 0.6px;
}

.result-message-entries {
    font-size: 0.8rem;
    color: antiquewhite;
    font-family: 'inter';
}

.success {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    /* Left side border color */
    border-left-color: #0b9442;
    background-color: #111;
}

.success strong {
    color: #0b9442;
    font-size: 1rem;
    letter-spacing: 0.6px;
}


.heading {
    text-transform: uppercase;
    color: white !important;
    text-align: center;
    font-size: 1.5rem;
    font-family: "inter";
    text-shadow: 2px 2px #464242;
}

form {
    background-color: black;
    padding: 1.5rem 1.5rem;
    border: 1px solid gray;
    border-radius: 1.2rem;
    color: #fff;
    font-size: 1.1rem;
    width: 550px;
    max-height: fit-content;
    z-index: 999;
}


.input-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-field>input {
    width: 60%;
    color: white;
}

.cover-image-input-field {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.cover-image-input-field>input {
    padding: 10px;
    background-color: #222;
    color: antiquewhite;
    border-radius: 10px;
    width: 60%;
}

.cover-image-input-field>input:hover {
    background-color: whitesmoke;
    color: black;
    width: 60%;
    border-radius: 10px;
}

#update-book-submit,
#update-book-reset,
#cover-image-submit,
#cover-image-reset,
#add-book-submit,
#add-book-reset {
    margin: 5px;
    padding: 2px 12px 2px 12px;
    align-content: space-around;
    background-color: #111;
    color: white;
    border-radius: 10px;
    border: #000;
    box-shadow: 3px 3px 0px 0px rgba(61, 59, 59, 0.993);
}

#update-book-submit:hover,
#update-book-reset:hover,
#cover-image-submit:hover,
#cover-image-reset:hover,
#add-book-submit:hover,
#add-book-reset:hover {
    margin: 5px;
    align-content: space-around;
    background-color: antiquewhite;
    color: black;
}

#update-book-submit:active,
#update-book-reset:active,
#cover-image-submit:active,
#cover-image-reset:active,
#add-book-submit:active,
#add-book-reset:active {
    transform: translate(0.1rem, 0.1rem);
    box-shadow: 0 0.1rem rgba(10, 10, 10, 0.993);
    filter: brightness(115%);
}



label {
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 0.79rem;
    text-transform: uppercase;
    color: antiquewhite;
    text-shadow: 0 0 10px rgba(90, 82, 82, 0.4);
}

#book-title,
#book-title,
#author-name,
#publication,
#language,
#pages,
#release-year,
#country,
#rating {
    padding: 0.3rem;
    border: 1px solid #111;
    border-radius: .3rem;
    background-color: #222;
    transition: 100ms linear;
    color: wheat;
}


input {
    width: fit-content;
    margin: 5px;
    font-size: 0.79rem;
}

.form-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 25px;
    justify-items: center;
}

.form-buttons>button {
    height: 100%;
    display: grid;
    font-weight: bold;
    border-radius: .3rem;
    text-transform: uppercase;
    color: white;
    background-color: #222;
    cursor: pointer;
    font-size: 0.8rem;
    height: 100%;
}


#book-title:hover,
#book-title:hover,
#author-name:hover,
#publication:hover,
#language:hover,
#pages:hover,
#release-year:hover,
#country:hover,
#rating:hover {
    background-color: antiquewhite;
    color: #111;
}

@media(max-width: 800px) {

    .heading {
        color: wheat;
        text-align: center;
        margin-bottom: 1rem;
        font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }

    .form-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 25px;
        justify-items: center;
    }

    .form-buttons>button {
        height: 100%;
        display: grid;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 0.8rem;
        height: 100%;
        border-radius: 10px;
        border: #000;
        color: rgb(0, 0, 0);
        box-shadow: 2px 2px 0px 0px rgba(71, 66, 66, 0.6);

    }

    button {
        border-radius: 10px;
        border: #000;
        color: rgb(0, 0, 0);
        box-shadow: 3px 3px 0px 0px rgba(10, 10, 10, 0.993);
        background-color: rgb(221, 51, 51);
    }

    #add-book-form-container,
    #update-book-form-container {
        display: none;
        top: 0;
        margin: 0;
        font-family: 'inter';
        height: 500px;
        max-height: 500px;
    }

    form {
        display: block;
        background-color: black;
        border: 1px solid gray;
        border-radius: 1.2rem;
        color: white;
        font-size: 10px;
        max-width: 400px;
    }
}